{% extends 'base.html' %}

{% block title %}
My invites
{% endblock %}

{% block content %}
{% if is_empty %}
<h1> No invitations here</h1>
{% endif %}
<ul>
    {% for item in qs %}
        <div class="card">
           <div class="card-body">
              <div class="row">
                  <div class="col-3">
                       <img class="avatar rounded-circle" src="{{ item.avatar.url }}">
                  </div>
                  <div class="col-9">
                      <h3>{{ item.user }}</h3>
                      <p>{{ item.bio }}</p>
                      <a href="{% url 'profiles:my-profile-view' item.user %}" class="btn  btn-outline-primary mb-3">See profile</a>
                      <form action="{% url 'profiles:accept-invite' request.user.username %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="profile_pk" value="{{ item.pk }}">
                          <button type="submit" class="btn btn-outline-success mb-3"">Accept invite</button>
                      </form>
                      <form action="{% url 'profiles:reject-invite' request.user.username %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="profile_pk" value="{{ item.pk }}">
                          <button type="submit" class="btn btn-outline-danger mb-3"">Reject invite</button>
                      </form>
                  </div>
              </div>
           </div>
         </div>
    {% endfor %}
</ul>
{% endblock %}
