.posts-list .card .created-text,
.create-post-form .form-label,
.create-post-form input,
.create-comment-form input {
    font-size:13px;
     color:#333;
}
.updated-profile-form{
  font-weight: 200;
  line-height: 4;

}
.updated-profile-form input, .updated-profile-form textarea {
  font-weight: 200;
}

.errorlist {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 5px;
}

.btn,
.error-field,
.success-field,
.stat-field,
.comment-body,
.message-time,
.group-stats {
    font-size: 14px;
}

.not-visible {
    display: none;
}

.avatar {
  width: 100px;
  height: 100px;

}

.created-text {
    margin: 0;
}

.empty-text {
    color: #333;
    font-size: 1.5rem;
    text-align: center;
}

.sent-message {
    background-color: #333;
    color: white;
    border-radius: 30px;
    width: 33%;
    float: right;
}

.received-message {
    background-color: rgb(207, 205, 205);
    color: #333;
    border-radius: 30px;
    width: 33%;
}

