.posts-list .card .created-text,
.create-post-form .form-label,
.create-post-form input,
.create-comment-form input {
    font-size:13px;
     color:#333;
}
.updated-profile-form{
  font-weight: 200;
  line-height: 4;

}
.updated-profile-form input, .updated-profile-form textarea {
  font-weight: 200;
}

.errorlist {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 5px;
}

.btn,
.error-field,
.success-field,
.stat-field,
.comment-body,
.message-time {
    font-size: 14px;
}

.not-visible {
    display: none;
}

.avatar {
  width: 100px;
  height: 100px;

}

.created-text {
    margin: 0;
}

.empty-text {
    color: #333;
    font-size: 1.5rem;
    text-align: center;
}

.sent-message {
    background-color: #333;
    color: white;
    border-radius: 30px;
    width: 33%;
    float: right;
}

.received-message {
    background-color: rgb(207, 205, 205);
    color: #333;
    border-radius: 30px;
    width: 33%;
}


.notification-badge {
    transition: 0.3s;

}

.notification-badge:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    z-index: 1021 !important;
    background-color: #F1F1f1;
    min-width: 280px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 0.9rem;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #DDD;
}

.dropdown-item-parent {
    position: relative;
    display: block;

}

.dropdown-item-close {
    position: absolute ;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    padding-right: 5px;
    transition: 0.3s;
}
.dropdown-item-close:hover {
    color: rgb(180, 25, 25);
    transition: 0.3s;
    cursor: pointer;
}