{% extends 'base.html' %}
{% block title %} Login {% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container py-5">
<form  class="updated-profile-form border rounded p-3" action="{% url 'login' %}" method="post">
    {% csrf_token %}
   {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Login</button>
     </form>
        <p class="text-center">If you don't have an account, <a href="{% url 'signup' %}">SignUp</a> instead.</p>
</div>
{% endblock content %}